* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {}

section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    top: -350px;
    width: 600px;
    height: 600px;
    background-color: rgb(167, 59, 131);
}

section .color:nth-child(2) {
    left: 150px;
    bottom: -100px;
    width: 500px;
    height: 500px;
    background-color: #fffd87;
}

section .color:nth-child(3) {
    right: 100px;
    bottom: 50px;
    width: 600px;
    height: 600px;
    background-color: #279485;
}

.box {
    position: relative;
}

.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    animation: anime 10s infinite linear;
    animation-delay: calc(var(--i)* 2000ms);
}

.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    height: 100px;
    width: 100px;
}

.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    height: 120px;
    width: 120px;
    z-index: 1;
}

@keyframes anime {
    0%,
    100% {
        transform: translateY(-40px);
    }
    50% {
        transform: translateY(40px);
    }
}

.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container .form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}

.container .form h2 {
    position: relative;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 40px;
}

.container .form h2::before {
    height: 4px;
    width: 80px;
    background-color: #fff;
    position: absolute;
    content: "";
    bottom: -10px;
    left: 0;
}

.container .form .inputBox {
    width: 100%;
    margin-top: 20px;
}

.container .form input {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    font-size: 1rem;
    letter-spacing: 1px;
    color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

.container .form input::placeholder {
    color: #fff;
}

.container .form input[type="submit"] {
    max-width: 100px;
    background-color: #fff;
    color: #666;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
}

.container .form p {
    color: #fff;
}

.container .form p a {
    color: #fff;
}