* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

body h1 {
    font-size: 8em;
    color: #fff
    /* rgb(70, 175, 216); */
}

.box {
    position: absolute;
    width: 30em;
    height: 15em;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 200ms;
    background: transparent;
    transform: translate(-50%, -50%);
    pointer-events: none;
}